chroma-hnswlib==0.7.6
chromadb==0.6.3
Crawl4AI==0.4.21
langchain==0.3.18
langchain-chroma==0.2.2
langchain-core==0.3.35
langchain-openai==0.3.6
langchain-text-splitters==0.3.6
livekit==0.20.0
livekit-agents==0.12.13
livekit-api==0.8.2
livekit-plugins-cartesia==0.4.7
livekit-plugins-deepgram==0.6.19
livekit-plugins-openai==0.10.19
livekit-plugins-silero==0.7.4
livekit-protocol==0.8.2
langchain-chroma==0.2.2